<template name="fileList">
    <div class="row">
        <div class="col-xs-2">
            {{> sideNav}}
        </div>
        <div class="col-xs-10">
            {{> alerts}}
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-danger" id="remove-files"><i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="onepix"></th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each files}}
                            <tr>
                                <td>
                                    <input class="file-checked" id="{{name}}@{{url}}" type="checkbox" />
                                </td>
                                <td><a href="{{url}}">{{name}}</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6">
                    <form class="form-horizontal">
                        <fieldset>

                            <legend>New Link to File</legend>

                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="file-name">Name</label>
                                <div class="col-xs-8">
                                    <input id="file-name" name="file-name" type="text" placeholder="" class="form-control input-md" required="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="file-url">URL</label>
                                <div class="col-xs-8">
                                    <input id="file-url" name="file-url" type="text" placeholder="" class="form-control input-md" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for=""></label>
                                <div class="col-xs-4">
                                    <button id="" name="" class="btn btn-primary">Submit</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
