<template name="noteList">
    <div class="row">
        <div class="col-xs-2">
            {{> sideNav}}
        </div>
        <div class="col-xs-10">
            {{> alerts}}
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" id="new-note">Create a new note</button>
                    <button id="remove-notes" class="btn btn-danger"><i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-4">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="onepix"></th>
                                <th>Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each notes}}
                            <tr>
                                <td>
                                    <input class="note-checked" id="{{title}}" type="checkbox" />
                                </td>
                                <td class="hover-hand project-note">{{title}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-8">
                    {{#if note}}
                    <form>
                        <div class="form-group col-xs-12">
                            <p class="medium-font">{{note.title}}</p>
                            <p>
                                <strong>Last modified by: </strong>{{note.last_modified_by}}
                            </p>
                        </div>
                        <div class="form-group col-xs-12">
                            <textarea name="content" class="col-xs-11 form-control" rows="15">{{note.content}}</textarea>
                        </div>
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-primary" id="save-note">Save</button>
                        </div>
                    </form>
                    {{else}}
                    <form>
                        <div class="form-group col-xs-8">
                            <input type="text" name="title" placeholder="Title" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12">
                            <textarea class="col-xs-11 form-control" rows="15" name="content" placeholder="Content"></textarea>
                        </div>
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
