<template name="contributors">
    <div class="row">
        <div class="col-xs-2">
            {{> sideNav}}
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-6">
                    <button id="move-users" class="btn btn-primary">Move to contributors</button>
                </div>
                <div class="col-xs-6">
                    <button id="move-contributors" class="btn btn-primary">Remove contributors</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <table class="table table-bordered table-striped">
                        <caption>Users</caption>
                        <thead>
                            <tr>
                                <th class="onepix"></th>
                                <th class="email">Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>
                                <td>
                                    <input class="user-checked" id="{{_id}}" type="checkbox" />
                                </td>
                                <td>{{email}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table table-bordered table-striped">
                        <caption>Contributors</caption>
                        <thead>
                            <tr>
                                <th class="onepix"></th>
                                <th class="email">Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each contributors}}
                            <tr>
                                <td>
                                    <input class="contributor-checked" id="{{_id}}" type="checkbox" />
                                </td>
                                <td>{{email}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
