.navbar-static-top {
    margin-bottom: 19px;
}
.hover-hand {
    cursor: pointer!important;
}
.onepix {
    width: 29px;
    white-space: nowrap;
}
/* font styles */

.large-font {
    font-size: 24px;
}
.medium-font {
    font-size: 20px;
}
.lair-green-text {
    color: green;
}
.flag-filter {
    border-color: rgb(149, 149, 149) !important;
}
.host-status-button, .port-status-button, .vulnerability-status-button, .flag-filter {
    width: 50px;
    height: 30px;
}
/* projects */

.project-li {
    border-bottom: 1px solid #e7e7e7;
    min-height: 100px;
    padding-top: 15px;
}
/* hosts */

.host-li, .port-li {
    min-height: 40px;
    padding: 10px 15px 5px 15px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
}
.host-li:last-child, .port-li:last-child {
    border-bottom: 1px solid;
}
.host-li-ip, .port-li-port {
    display: inline-block;
    width: 20%;
}
.host-li-status, .port-li-status {
    display: inline-block;
    width: 20%;
}
/* STATUS MAPPING COLORS */

.btn.disabled {
    pointer-events: inherit;
}
.lair-grey {
    background-color: rgba(61, 72, 91, 0.34)!important;
    border-color: rgb(149, 149, 149) !important;
}
.lair-grey td {
    border-color: rgb(149, 149, 149) !important;
}
.lair-grey-li {
    border-color: rgb(149, 149, 149) !important;
    background-color: rgba(149, 149, 149, 0.20) !important;
}
.lair-blue {
    background-color: rgba(103, 194, 239, 0.58)!important;
    border-color: rgb(103, 194, 239)!important;
}
.lair-blue td {
    border-color: rgb(103, 194, 239)!important;
}
.lair-blue-li {
    border-color: rgb(103, 194, 239)!important;
    background-color: rgba(103, 194, 239, 0.20)!important;
}
.lair-green {
    background-color: rgba(128, 205, 59, 0.58)!important;
    border-color: rgb(128, 205, 59)!important;
}
.lair-green td {
    border-color: rgb(128, 205, 59)!important;
}
.lair-green-li {
    border-color: rgb(128, 205, 59)!important;
    background-color: rgba(128, 205, 59, 0.20)!important;
}
.lair-orange {
    background-color: rgba(250, 154, 76, 0.58)!important;
    border-color: rgb(250, 154, 76) !important;
}
.lair-orange td {
    border-color: rgb(250, 154, 75)!important;
}
.lair-orange-li {
    border-color: rgb(250, 154, 76) !important;
    background-color: rgba(250, 154, 76, 0.20) !important;
}
.lair-red {
    background-color: rgba(250, 96, 61, 0.58)!important;
    border-color: rgb(250, 96, 61)!important;
}
.lair-red td {
    border-color: rgb(250, 96, 61)!important;
}
.lair-red-li {
    border-color: rgb(250, 96, 61)!important;
    background-color: rgba(250, 96, 61, 0.20)!important;
}
th {
    font-weight: normal!important;
}
a.dontstyle:link, a.dontstyle:visited {
    text-decoration: none;
    color: #000000;
}
a.dontstyle:hover {
    text-decoration: underline;
}
/* textareas */

.copyonly {
    box-shadow: none;
    border: none!important;
    resize: none!important;
    cursor: default!important;
    background-color: #ffffff!important;
}
textarea {
    max-width: 100%;
}
.full-height {
    min-height: 100%!important;
}
/* VULNERABILITY CVSS COLORS */

.high {
    background-color: rgba(250, 96, 61, 0.58);
    border-color: rgb(250, 96, 61)!important;
}
.medium {
    background-color: rgba(255, 169, 0, 0.58);
    border-color: rgb(255, 169, 0)!important;
}
.low {
    background-color: rgba(103, 194, 239, 0.58);
    border-color: rgb(103, 194, 239)!important;
}
.host-count {
    border-color: #444444!important;
    background-color: #868686;
}
/* Chat Window */

.new-message {
    color: #fa5a3d;
}
#chat-window {
    background: #ffffff;
    z-index: 1;
    position: fixed;
    width: 250px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #000000 !important;
}
#chat-title {
    text-shadow: none;
    padding-left: 5px;
    padding-right: 10px;
}
#chat-title h3 {
    line-height: 10px;
    display: inline;
    font-size: 12px;
    margin: 0px;
    font-weight: normal;
}
#chat-content {
    font-size: 12px;
    height: 250px;
    max-width: 250px;
    padding-left: 5px;
    overflow-x: auto;
}
#chat-message textarea {
    resize: none;
    width: 238px;
    margin-bottom: 0px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
.message {
    max-width: 95%;
    width: 95%;
    word-wrap: break-word;
}
.nav-like-link {
    float: none;
    padding: 15px 15px 10px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}
.fa-wt {
    padding-right: 5px;
}
