<template name="projects">
    <div class="row">
        <div class="col-xs-12">
            <span class="pull-right">
                <a class="btn btn-success" href="{{pathFor route='addProject'}}">Create a new project</a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled">
                {{#each projects}}
                    <li class="project-li">
                        <p><a href="/project/{{_id}}"><span class="large-font">{{project_name}}</span></a>
                            <span class="pull-right">Created on {{creation_date}}</span></p>
                        {{#if industry}}<p>Industry: {{industry}}</p>{{/if}}
                        {{#if description}}<p>Description: {{description}}</p>{{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>